# PySpark environment variables for local development

# Kindly copy the template and set up the user path to your local Python executable in 
# the virtual environment. This is crucial for ensuring that PySpark uses the correct 
# Python interpreter when running locally.
PYSPARK_PYTHON=C:<user-path>\venv\Scripts\python.exe
PYSPARK_DRIVER_PYTHON=C:<user-path>\venv\Scripts\python.exe